@model StoreShoes.Models.SneackersStore.AddUserViewModel
@{
   
    Layout = "_LayoutSneackersStore";
}

<div class="registration">
   <form method="post">
       <div class="registration__name">
           Имя
           @Html.TextBoxFor(x => x.Name, new { placeholder = "Имя" })
       </div>
       <div class="registration_surname">
           Фамилия
           @Html.TextBoxFor(x => x.SurName, new { placeholder = "Фамилия"  })
       </div>
       <div class="registration__age">
           Возраст
           @Html.TextBoxFor(x => x.Age, new { placeholder = "Возраст", @type ="number"})
       </div>
       <div class="registration__submit">
           <input type="submit" value="Зарегистрироваться"/>
       </div>
   </form> 
</div>


